<form action='/links' method='post'>
  <input type="text" name="title" placeholder="Title"><br>
  <input type="text" name="url" placeholder="Url"><br>
  <input type="text" name="tag" placeholder="Tag"><br>
  <input type="submit" value="Add Link">
</form>

<%= @confirmation_message %>
